<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value="./extern/global_packages_cache" />
    </config>
    <packageSources>
		<!-- This section defines where NuGet will look for packages. -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>